@model List<Projeto.Models.Edicao>

<h2>Edições Olímpicas</h2>

<ul>
    @foreach (var edicao in Model)
    {
        <li>
            <a href="/Edicao/Atletas/@edicao.Codedicao">
                @edicao.Ano - @edicao.Sede
            </a>
        </li>
    }
</ul>